__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.env
.venv/
venv/
results/**
!results/README.md
figures/**
!figures/README.md
data/raw/**
!data/raw/README.md
data/processed/**
!data/processed/README.md
data/bathymetry/**
!data/bathymetry/README.md
data/synthetic/**
!data/synthetic/README.md
